@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Covey Time Management Matrix</h1>
    <p>Organize your tasks based on importance and urgency.</p>
    
    <div class="mt-4">
        <a asp-controller="Home" asp-action="Quadrants" class="btn btn-success">View Matrix</a>
    </div>
</div>